:root {
  --clr-light-red: #7e2d68;
  --clr-medium-red: #511c41;
  --clr-dark-red: #401735;
  --clr-text: #f3f2f2;
  --clr-grey-text: #908d91;
  --clr-green: #18b54d;
  --clr-dark: #121212;
}

body {
  background: rgb(126, 45, 104, 1);
  background: linear-gradient(
    180deg,
    rgba(126, 45, 104, 1) 0%,
    rgba(18, 18, 18, 1) 22%
  );
  color: var(--clr-text);
}

a {
  color: var(--clr-grey-text);
}

a:hover {
  color: white;
}

/* album section */

main.album-container {
  width: 100vw;
}

/* top row album info */
.top-album {
  display: flex;
  margin-top: -5.2rem;
  padding: 5rem 0 1rem 2rem;
  background: rgb(89, 28, 72);
  background: linear-gradient(
    0deg,
    rgba(89, 28, 72, 1) 0%,
    rgba(168, 59, 137) 100%
  );
}

.album-cover-image {
  height: 192px;
  width: 192px;
}

.album-cover-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.artist-img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.album-infos {
  align-self: end;
  margin-left: 1.75rem;
  width: 70%;
}

.album-infos h1 {
  font-size: 2rem;
  font-weight: bold;
}

.album-infos a {
  color: var(--clr-text);
}

/* album buttons */
.top-album-buttons {
  display: flex;
  padding: 1rem 0 1rem 2rem;
  align-items: center;
  height: 9rem;
}

.top-album-buttons .bi-play-circle-fill {
  font-size: 3.5rem;
  color: var(--clr-green);
}

.top-album-buttons .bi-play-circle-fill:hover {
  font-size: 3.8rem;
  margin-right: -0.3rem;
}

.top-album-buttons .bi-three-dots,
.top-album-buttons .bi-heart {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--clr-grey-text);
}

.top-album-buttons .bi-three-dots:hover,
.top-album-buttons .bi-heart:hover {
  color: white;
}

/* Song list table*/
.song-list {
  margin-left: 1.5rem;
}

.table thead th {
  border-bottom: 0.5px solid #8d888f74;
}

.table th,
.table td {
  color: var(--clr-grey-text);
  border-top: none;
}

.table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.137);
  cursor: pointer;
}

.number-col {
  width: 1rem;
}

.title-col {
  margin-left: 1rem;
}

.heart-col {
  width: 3rem;
  margin-left: auto;
}

.length-col {
  width: 8rem;
  text-align: center;
}

.copy-rights {
  margin: 2rem 0 5rem 2rem;
}

.copy-rights h5 {
  font-size: 13px;
  font-weight: 200;
}

.copy-rights p {
  font-size: 11px;
  font-weight: 200;
}

/* more albums */

.more-albums-container {
  padding-inline: 2rem;
}

#seeDiscography {
  margin-left: auto;
  padding-right: 1rem;
  color: var(--clr-text);
  font-size: 13px;
  cursor: pointer;
}

#seeDiscography:hover {
  text-decoration: underline;
}

.more-albums .card-img-top {
  object-fit: cover;
  width: 100%;
}

.more-albums .card-body {
  padding: 0.7rem;
  max-height: 6rem;
}

.more-albums .album-title {
  overflow: hidden;
}

.more-albums {
  margin-top: 2rem;
}

.more-albums .card {
  background-color: #171717;
  margin-right: 10px;
}

.no-wrap {
  overflow-wrap: normal;
  flex-wrap: nowrap;
}

.more-albums .card a {
  color: var(--clr-grey-text);
}

.more-albums .card a:hover {
  color: white;
}

#moreAlbumsToggle {
  margin-top: 0;
}

/* footer */
.album-footer {
  margin-left: 0;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 7rem;
}

.footer-top {
  margin-bottom: 2.5rem;
  margin-left: 15px;
}

.album-footer .links {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.album-footer .links .link {
  color: var(--clr-grey-text);
  margin-bottom: 1rem;
}

.social-links {
  margin-left: 0;
  width: 175px;
  margin-top: 10px;
}

.social-links .link {
  color: var(--clr-text);
  background-color: #252525;
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid var(--clr-grey-text);
  padding-top: 3rem;
}

.footer-bottom-link {
  color: var(--clr-grey-text);
  margin-right: 15px;
  min-width: 50px;
  text-decoration: none;
}

.spotifyCopyRight {
  margin-left: auto;
  margin-right: 15px;
  color: var(--clr-grey-text);
}

/* screen size */
@media (min-width: 1540px) {
  .album-infos h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1350px) {
  .album-infos h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1280px) {
  .album-cover-image {
    height: 232px;
    width: 232px;
  }
}

@media (max-width: 1093px) {
  .album-infos h1 {
    overflow: hidden;
    height: 5rem;
    width: 80%;
  }

  .album-infos {
    overflow: hidden;
    width: 65%;
  }
}

@media (min-width: 1080px) {
  .album-footer .links {
    min-width: 20%;
  }
  .album-footer .social-links {
    margin-left: auto;
  }
}

@media (max-width: 967px) {
  .spotifyCopyRight {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 815px) {
  .footer-bottom-link {
    display: none;
  }
}

/* top nav bar */
header {
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.icon-container {
  height: 32px;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

svg {
  opacity: 0.6;
  fill: white;
}

.profile {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 23px;
  column-gap: 8px;
  padding: 0.1rem;
  transition: all 0.3s ease-in-out;
}

.profile .icon-container {
  background-color: #535353;
}

.profile svg {
  opacity: 1;
}

.profile:hover {
  background-color: #282828;
  cursor: pointer;
}

.bg-color {
  background-color: #511c41;
  animation-name: backgroundChange;
  animation-duration: 1s;
}

@keyframes backgroundChange {
  from {
    background-color: #511c4100;
  }

  to {
    background-color: #511c41;
  }
}

.dropdown-menu {
  margin-top: -15px;
}

@media (max-width: 767px) {
  .row:not(:first-of-type) .col-12:last-child,
  .row:not(:first-of-type) .col-12:nth-child(5),
  .row:not(:first-of-type) .col-12:nth-child(4),
  .row:not(:first-of-type) .col-12:nth-child(3) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .row:not(:first-of-type) .col-12:last-child,
  .row:not(:first-of-type) .col-12:nth-child(5),
  .row:not(:first-of-type) .col-12:nth-child(4) {
    display: none;
  }
}

.play-button {
  fill: #1ed760;
  background-color: #1ed760;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

.play-button:focus {
  box-shadow: none;
}

.play-button:hover {
  background-color: #1fdf64;
  scale: 1.05;
}

.play-button svg {
  fill: black;
  opacity: 1;
}

.plau-buttons-container #stop svg {
  fill: inherit;
}

#stop svg {
  opacity: 1;
}
.table .active-text {
  color: #1ed760;
}
table .active-icon {
  background-color: rgba(86, 83, 83, 0.575);
}
.bi-music-note-beamed {
  fill: white;
}
