@font-face {
    font-family: "Circular-Std-Book";
    src: url("../font/CircularStd-Book.otf") format("opentype");
}

body {
    font-family: "Circular-Std-Book";
}

:root {
    --grey-color: #C5BFBF;
}

.gap {
    gap: 0.9em;
}

/* left nav*/
.spotify-logo {
    fill: white;
    height: 50px;
    opacity: 1;
}

.nav-item:hover svg {
    fill: white;
    opacity: 1;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #535353
}

.square {
    background-color: var(--grey-color);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 2px;
}

.square:hover {
    background-color: white;
}


.square-liked {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: rgb(0, 212, 255);
    background: linear-gradient(345deg, rgba(0, 212, 255, 1) 0%, rgba(34, 160, 162, 1) 7%, rgba(68, 60, 209, 1) 21%, rgba(142, 3, 217, 1) 67%);
}

.square-liked i {
    color: white;
    scale: 0.8;
}

#navbar-playlist {
    overflow-y: auto;
    position: relative;
    left: -10%;
}

#navbar-playlist a {
    color: var(--grey-color);
    text-decoration: none;
}

.fixed-top {
    z-index: 1;
}

#nav-left {
    height: 100vh;
    width: 230px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: black;
}

#navbar-playlist {
    color: var(--grey-color);
    list-style: none;
}

#navbar-playlist li:hover {
    color: white;
}

#nav-left span {
    color: var(--grey-color);

}

#nav-left span:hover {
    color: white;

}

#nav-left .nav-item:hover span {
    color: white;
}


/* nav top*/
#navbar-top {
    z-index: 2;
    background-color: transparent;
}

.navbar-brand .arrows {
    padding-left: 300px;
}

#user-image {
    position: absolute;
    top: 10px;
    right: 20px;

}

#user-image img {
    border-radius: 50%;
    width: 30px;
    height: 32px;

}

#user-image .user-wrapper {
    background-color: #312f2fda;
    border-radius: 25px;
    transition: 0.5s;
}

#user-image .user-wrapper span {
    color: white;
    font-size: 1rem;
}

#user-image .user-wrapper a {
    text-decoration: none;
}

.invisible-name {
    display: none;
}

#user-image .user-wrapper:hover {
    background-color: #121212
}

#user-image .user-wrapper:hover .invisible-name {
    position: relative;
    top: 10px;
    left: 10px;
    display: block;
    color: white;
    background-color: #121212
}

.arrows button {
    position: relative;
    height: 24px;
    width: 24px;
    background-color: #312f2fda;
    border-radius: 50%;
    border-style: none;
}

.arrows button i {
    position: absolute;
    top: -5px;
    left: 1px;
    color: white
}

.dropdown-menu {
    border: 5px;
}

.dropdown-item:hover {
    background-color: var(--grey-color);
}

.dropdown-item svg {
    fill: white;
}

.bi-caret-up {
    display: none;
}

.dropdown-event:focus .bi-caret-down {
    display: none;
}

.dropdown-event:focus .bi-caret-up {
    display: inline-block;
}

/* Navigation bottom */

#navbar-bottom a {
    font-size: 1rem;
    color: var(--grey-color);
}

#navbar-bottom nav {
    background-color: #121212
}


#navbar-bottom .album-photo img {
    border: solid 2px white;
}

/* MUSIC PLAYER */

.play {
    padding: 3px 7px;
}

#navbar-bottom .play svg {
    fill: black;
    opacity: 1;
}

#navbar-bottom svg {
    fill: white;
}

#navbar-bottom svg:hover {
    opacity: 1;
}

/* PAGE SCROLL BARS */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 175, 175);
}


/* PLAYLIST SCROLL BARS */
ul::-webkit-scrollbar {
    width: 10px;
}

ul::-webkit-scrollbar-track {
    display: none;
}

ul::-webkit-scrollbar-thumb {
    background: #888;
}

ul::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 175, 175);
}



#navbar-bottom .play {
    background-color: white;
    border-radius: 50%;
}

#navbar-bottom .play:hover {
    scale: 1.1;
}

#navbar-bottom .music-bar {
    height: 10px;
    width: 20vw;
    background-color: grey;
    border-radius: 6px;
}

#navbar-bottom .music-bar:hover {
    background-color: #1ed760;
}

#navbar-bottom .small-music-bar {
    width: 50px;
    height: 5px;
    background-color: grey;
    border-radius: 3px;

}

#navbar-bottom .small-music-bar:hover {
    background-color: #1ed760;

}

.album-details div:hover {
    text-decoration: underline;
}

#nav-left hr:nth-of-type(2) {
    width: 85%;
    border: none;
    border-bottom: 1px rgba(136, 136, 136, 0.419) solid;
}

#nav-left ul:last-of-type a>li {
    font-size: 14px;

}

/* responsivness */

@media (max-width: 1000px) {
    .album-details {
        font-size: 0.8rem;
    }
}



.dropdown-menu {
    display: block;
    background-color: #282828;
    right: 0;
    left: auto;
    margin-right: 2.5rem;
    padding-inline: 10px;
}

.dropdown-menu a {
    color: white;
    font-size: 15px;
}

.dropdown-menu svg {
    opacity: 1;
    margin-left: 10px;
}

.dropdown-menu hr {
    border: none;
    border-bottom: 1px rgba(136, 136, 136, 0.419) solid;
}

a.dropdown-item:hover {
    color: white;
    background-color: #e9ecef2d;
    border-radius: 2px;
}

.dropdown-item:focus {
    background-color: transparent;
    color: white;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}